.select {
	input:placeholder {
		color: #fff !important;
	}
	.css-qbdosj-Input {
		color: #fff !important;
		&:placeholder {
			color: #fff !important;
		}
	}
}
.css-166bipr-Input {
	color: #fff !important;
	&:placeholder {
		color: #fff !important;
	}
}
