.select {
	input:placeholder {
		color: #fff !important;
	}
	.css-qbdosj-Input {
		color: #fff !important;
		&:placeholder {
			color: #fff !important;
		}
	}
}
.css-166bipr-Input {
	color: #fff !important;
	&:placeholder {
		color: #fff !important;
	}
}

@media (max-width: 772px) {
	.wrapper {
		@apply flex gap-3;
		.select {
			@apply w-1/3;
		}
	}
}
@media (max-width: 555px) {
	.wrapper {
		@apply flex-col gap-3;
		.select {
			@apply w-full;
		}
	}
}
