.search {
	@apply w-[357px] flex items-center justify-center;
	foo: bar;
	> form {
		@apply relative w-[90%] h-[29px];
		foo: bar;
		input {
			@apply absolute inset-0 px-3;
			border-radius: 48px;
			border: 1px solid var(--text-color);
			background: var(--search);

			&::placeholder {
				@apply text-center relative top-[8%];
				color: var(--text-color);
				font-size: calc(calc(1vw + 1vh) * 0.982);
			}
			&:focus + button {
				left: 5%;
			}
		}
		> button {
			@apply absolute left-1/4;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}
