.header {
	flex: 0 0 auto;
	@apply h-[50px]  items-center flex w-full;
	foo: bar;
	.wrapper {
		@apply flex justify-around  w-full items-center;
		foo: bar;
		ul {
			@apply flex items-center justify-between h-[50px];
			foo: bar;
			li {
				@apply h-[50px] flex items-center justify-center border-l-0;
				foo: bar;
				> a {
					&:hover {
						color: var(--hover-color);
					}
				}
			}
			.message {
				@apply py-[14] h-full;
				foo: bar;
			}
			&:last-child {
				li {
					@apply px-[14px] cursor-pointer;

					foo: bar;
					&:nth-child(4) {
						@apply pr-[11px] border-r-0;
						foo: bar;
					}
				}
			}
			&:first-child {
				li {
					border-left: none;
					@apply px-[43px];
					foo: bar;
				}
			}
			&:nth-child(2) {
				// flex: 1 0 auto;
			}
			.logo {
				@apply px-[59px];
				foo: bar;
			}

			.cart {
				@apply pl-[60px] pr-[30px] cursor-pointer;
				foo: bar;
				position: static;
				p {
					@apply flex items-center gap-1;
					foo: bar;
					span {
						@apply w-6 h-6 flex items-center justify-center rounded-full text-sm;
						foo: bar;
						color: var(--background-color);
						background: var(--background-revers);
					}
				}
			}
			.menu {
				@apply hidden;
				foo: bar;
			}
		}
	}
}

@keyframes hide {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media (max-width: 1422px) {
	.header,
	.wrapper,
	ul {
		flex-wrap: wrap;
	}
	.header {
		.wrapper {
			ul {
				&:first-child {
					li {
						border-left: none;
						@apply px-[20px];
						foo: bar;
					}
				}
				.logo {
					@apply px-[25px];
					foo: bar;
				}
			}
		}
	}
}
@media (max-width: 1200px) {
	.header {
		.wrapper {
			ul {
				&:first-child {
					li {
						border-left: none;
						@apply px-[20px];
						foo: bar;
					}
				}
				.cart {
					@apply px-[20px];
					foo: bar;
				}
				.search {
					@apply w-[265px];
					foo: bar;
				}
			}
		}
	}
}

@media (max-width: 1022px) {
	.header {
		.wrapper {
			ul {
				.menu {
					@apply block;
					foo: bar;
				}

				&:nth-child(3) {
					.message {
						@apply hidden;
						foo: bar;
					}
				}
			}
		}
	}
}

@media (max-width: 870px) {
	.header {
		.wrapper {
			ul {
				&:first-child {
					li {
						@apply hidden;
					}
				}
			}
		}
	}
}
@media (max-width: 670px) {
	.header {
		.wrapper {
			ul {
				.search {
					@apply absolute top-11 border-r-0;
				}
			}
		}
	}
}
