.wrapper {
	@apply flex h-[100%]  w-1/2 gap-[140px] relative items-start;
	foo: bar;
	.item {
		@apply max-w-full  mt-12;
		transition: 0.5s ease;
		border: 1px solid var(--text-color);
		&:hover {
			box-shadow: var(--box-shadow);
		}
		> img {
			@apply h-full inset-0 object-cover;
			foo: bar;
		}
	}
	.sideImage {
		@apply max-w-[100px] h-fit overflow-hidden flex flex-col mb-2 pt-12 overflow-y-auto relative;
		foo: bar;
		> div {
			@apply mb-[52px] max-w-[111px];
			foo: bar;
		}
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.showLess,
	.showMore {
		@apply absolute top-0 left-1/2;
		transform: translateX(-50%);
		foo: bar;
	}

	.showMore {
		@apply bottom-0 block h-fit top-auto;
		foo: bar;
	}
}
@media (max-width: 1310px) {
	.wrapper {
		@apply w-[60%] gap-[50px];
		foo: bar;
	}
}

@media (max-width: 992px) {
	.wrapper {
		@apply h-[65%];
		foo: bar;
	}
}
@media (max-width: 992px) {
	.wrapper {
		@apply w-full;
		foo: bar;
	}
}
@media (max-width: 400px) {
	.wrapper {
		@apply mb-7;
		foo: bar;
		.sideImage {
			@apply max-h-[280px] mb-5 max-w-[70px];
			foo: bar;
		}
		.showMore {
			@apply bottom-0;
			foo: bar;
		}
	}
}
