.wrapper {
	@apply flex h-[100%]  w-1/2 gap-[140px] relative;
	.item {
		@apply max-w-[400px];
		transition: 0.5s ease;
		border: 1px solid var(--text-color);
		&:hover {
			box-shadow: var(--box-shadow);
		}
		> img {
			@apply h-full inset-0 object-cover;
		}
	}
	.sideImage {
		@apply max-w-[100px] h-[100%] overflow-hidden flex flex-col mb-2 overflow-y-auto relative;
		> div {
			@apply mb-[52px] max-w-[111px];
		}
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.showLess,
	.showMore {
		@apply absolute -top-10 left-10;
	}
	.showMore {
		@apply bottom-1/4 left-8 block h-fit top-auto;
	}
}
@media (max-width: 1310px) {
	.wrapper {
		@apply w-[60%] gap-[50px];
	}
}

@media (max-width: 992px) {
	.wrapper {
		@apply h-[65%];
	}
}
@media (max-width: 992px) {
	.wrapper {
		@apply w-full;
	}
}
@media (max-width: 400px) {
	.wrapper {
		@apply mb-7;
		.sideImage {
			@apply max-h-[280px] mb-5 max-w-[70px];
		}
		.showMore {
			@apply bottom-0;
		}
	}
}
